@import "tailwindcss";

@theme {
  --color-main-500: #d8ddef;
  --color-secondary-500: #a0a4b8;
  --color-secondary-700: #6a708e;
  --color-secondary-900: #2a2d39;
  --color-tertiary-500: #7293a0;

  --text-title: 2.5rem;
  --text-title--font-weight: 900;

  --text-button: 1.5rem;
  --text-button--font-weight: 600;
}
