@import "tailwindcss";

@theme {
  --color-main-500: #d8ddef;
  --color-secondary-500: #a0a4b8;
  --color-secondary-700: #6a708e;
  --color-secondary-900: #2a2d39;
  --color-tertiary-500: #7293a0;

  --text-title: 2.5rem;
  --text-title--font-weight: 900;

  --text-titlemd: 2rem;
  --text-titlemd--font-weight: 900;

  --text-titlesm: 1.5rem;
  --text-titlesm--font-weight: 900;

  --text-button: 1.5rem;
  --text-button--font-weight: 600;

  --text-buttonmd: 1.2rem;
  --text-buttonmd--font-weight: 600;

  --text-buttonsm: 1rem;
  --text-buttonsm--font-weight: 600;
}
